<html>
<head>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <strong>Teachers:</strong>
    {% if content %}
    <table class="table table-striped">
        <tr class="table-dark">
            <th>Name</th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="table table-striped">
        <tr class="table-dark">
            <th>Assessment Item 1</th>
            <th>Due Date</th>
            <th>Assessment Item 2</th>
            <th>Due Date</th>
            <th>Assessment Item 3</th>
            <th>Due Date</th>
            <th>Content Description</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{unit.AssessmentItem1}}</td>
            <td>{{unit.AssessmentItem1DueDate}}</td>
            <td>{{unit.AssessmentItem2}}</td>
            <td>{{unit.AssessmentItem2DueDate}}</td>
            <td>{{unit.AssessmentItem3}}</td>
            <td>{{unit.AssessmentItem3DueDate}}</td>
            <td>{{unit.ContentDescription}}</td>
            <td>{{unit.DeliveredAsVET}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No data!</strong>
    {% endif %}
    <p><a class="btn btn-danger" href="/admin/MyApp1/teacher/add/" role="button">Input new teachers</a></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <p><a href="{% url 'report'%}">PDF report</a></p>
</body>
<!--
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
    -->
</html>
